# 自分で触ってよくわかる **部分抽出の話**
## 条件にあう対象者を抽出する
**最後に課題があります**

## 目次
### 練習
- 練習1: [（google colaboratoryを使っていない場合のみ）*statsmodels* をインストールする](#section1)
- 練習2: [statsmodelsをインポートし、サンプルデータを取得する](#section2)
- 練習3: [条件に合致する集団を抽出する](#section3)
- 練習4: [上位・下位の一部を抽出する](#section4)

### 課題
- [課題](#section6)

＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊

## 練習
サンプルのデータセットを読み込んで、そのデータを色々な角度から外観してみましょう。  
今回は、*statsmodels* パッケージに含まれているデータセットを使用します。

(注) *statsmodels* パッケージとは、統計モデルを用いて推定や検定、探索ができるPythonライブラリのことです。  

手順は以下の通りです。  

1. (google colaboratoryを使っていない場合のみ) *statsmodels* をインストールする
1. statsmodelsをインポートし、サンプルデータを取得する
1. 条件に合致する集団を抽出する
2. 上位・下位の一部を抽出する

<a id="section1"></a>
### 練習1: （google colaboratoryを使っていない場合のみ）*statsmodels* をインストールする

statsmodelsを使用するとき、*google colaboratory* を使用している場合は、何もしなくともすぐ使用できます。  
それ以外の環境では、statsmodelsパッケージのインストールが必要です。 どこかのセルで、以下を実行してください。  （下記のセルを実行すると、インストールします。）  
```
pip install statsmodels
```  
一回インストールしてしまえば、同じ環境であればずっと使えます。

In [45]:
pip install statsmodels

Requirement already satisfied: statsmodels in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (0.13.5)
Requirement already satisfied: scipy>=1.3 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from statsmodels) (1.9.3)
Requirement already satisfied: patsy>=0.5.2 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: pandas>=0.25 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from statsmodels) (2.0.3)
Requirement already satisfied: packaging>=21.3 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from statsmodels) (23.0)
Requirement already satisfied: numpy>=1.17 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from statsmodels) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2022.7.1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

***

<a id="section2"></a>
### 練習2: statsmodelsをインポートし、サンプルデータを取得する

*statsmodels* の *get_rdataset* メソッドを使用して、サンプルデータを取得してみましょう。  
＊取得できるサンプルデータは、以下のサイトに列挙されています。  
https://vincentarelbundock.github.io/Rdatasets/articles/data.html  

前回の自主練と同様に、下記のコードを実行して、*survival* パッケージの *pbc* データを取得しましょう。  

```
import statsmodels.api as sm

dataset = sm.datasets.get_rdataset("pbc", "survival")
df = dataset.data
```

それでは、下のセルにコードを書いて、実行してください。

In [46]:
import statsmodels.api as sm

dataset = sm.datasets.get_rdataset("pbc", "survival")
df = dataset.data

何も出力されませんが、エラーがでなければ成功しています。  
次に進みましょう。

***

<a id="section3"></a>
### 練習3: 条件に合致する集団を抽出する

上で取得したデータが、変数'df'に代入されています。

まず、以下のコードを実行して、最初の5行を出力して、取得したサンプルデータがどのようなものなのか、確認してみましょう。

```
df.head()
```

それでは、下のセルにコードを書いて、実行してください。

In [47]:
df.head()

,id,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
0,1,400,2,1.0,58.765229,f,1.0,1.0,1.0,1.0,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
1,2,4500,0,1.0,56.446270,f,0.0,1.0,1.0,0.0,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
2,3,1012,2,1.0,70.072553,m,0.0,0.0,0.0,0.5,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
3,4,1925,2,1.0,54.740589,f,0.0,1.0,1.0,0.5,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
4,5,1504,1,2.0,38.105407,f,0.0,1.0,1.0,0.0,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0

次に、条件に合致するデータのみを抽出してみましょう。

以下の条件に合致するデータを抽出します
1. age: 60以上
1. sex: fのみ 

まず、1の条件だけを満たすデータのみ抽出しましょう。ここでは、*query* メソッドを使用します。  
以下のように記述して、'age'列が'60'以上のデータを抽出します。

```
df_cond1_v1 = df.query('age>=60')
```

もしくは、*query* メソッドを使用せず、以下のように記述する方法もあります。
```
df_cond1_v2 = df[df['age']>=60]
```

いずれも同じ結果になります。

それでは、下のセルにコードを書いて、実行してください。

In [48]:
# queryメソッドを使用する場合
df_cond1 = df.query('age>=60')
df_cond1

,id,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
2,3,1012,2,1.0,70.072553,m,0.0,0.0,0.0,0.5,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
5,6,2503,2,2.0,66.258727,f,0.0,1.0,0.0,0.0,0.8,248.0,3.98,50.0,944.0,93.00,63.0,NaN,11.0,3.0
9,10,51,2,2.0,70.559890,f,1.0,0.0,1.0,1.0,12.6,200.0,2.74,140.0,918.0,147.25,143.0,302.0,11.5,4.0
14,15,3584,2,1.0,64.646133,f,0.0,0.0,0.0,0.0,0.8,231.0,3.87,173.0,9009.8,127.71,96.0,295.0,11.0,3.0
20,21,3445,0,2.0,64.188912,m,0.0,1.0,1.0,0.0,0.6,252.0,3.83,41.0,843.0,65.10,83.0,336.0,11.4,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,398,1375,0,NaN,62.001369,f,NaN,NaN,NaN,0.0,7.3,NaN,3.49,NaN,NaN,NaN,NaN,189.0,10.9,4.0
400,401,935,2,NaN,68.999316,f,NaN,NaN,NaN,0.0,4.2,NaN,3.19,NaN,NaN,NaN,NaN,120.0,11.1,4.0
402,403,1141,0,NaN,66.001369,f,NaN,NaN,NaN,0.0,2.5,NaN,3.33,NaN,NaN,NaN,NaN,256.0,10.8,4.0
411,412,1097,0,NaN,67.000684,f,NaN,NaN,NaN,0.0,1.0,NaN,3.58,NaN,NaN,NaN,NaN,244.0,10.8,3.0
413,414,681,2,NaN,67.000684,f,NaN,NaN,NaN,0.0,1.2,NaN,2.96,NaN,NaN,NaN,NaN,174.0,10.9,3.0

In [49]:
# queryメソッドを使用しない場合
df_cond1_v2 = df[df['age']>=60]
df_cond1_v2

,id,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
2,3,1012,2,1.0,70.072553,m,0.0,0.0,0.0,0.5,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
5,6,2503,2,2.0,66.258727,f,0.0,1.0,0.0,0.0,0.8,248.0,3.98,50.0,944.0,93.00,63.0,NaN,11.0,3.0
9,10,51,2,2.0,70.559890,f,1.0,0.0,1.0,1.0,12.6,200.0,2.74,140.0,918.0,147.25,143.0,302.0,11.5,4.0
14,15,3584,2,1.0,64.646133,f,0.0,0.0,0.0,0.0,0.8,231.0,3.87,173.0,9009.8,127.71,96.0,295.0,11.0,3.0
20,21,3445,0,2.0,64.188912,m,0.0,1.0,1.0,0.0,0.6,252.0,3.83,41.0,843.0,65.10,83.0,336.0,11.4,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,398,1375,0,NaN,62.001369,f,NaN,NaN,NaN,0.0,7.3,NaN,3.49,NaN,NaN,NaN,NaN,189.0,10.9,4.0
400,401,935,2,NaN,68.999316,f,NaN,NaN,NaN,0.0,4.2,NaN,3.19,NaN,NaN,NaN,NaN,120.0,11.1,4.0
402,403,1141,0,NaN,66.001369,f,NaN,NaN,NaN,0.0,2.5,NaN,3.33,NaN,NaN,NaN,NaN,256.0,10.8,4.0
411,412,1097,0,NaN,67.000684,f,NaN,NaN,NaN,0.0,1.0,NaN,3.58,NaN,NaN,NaN,NaN,244.0,10.8,3.0
413,414,681,2,NaN,67.000684,f,NaN,NaN,NaN,0.0,1.2,NaN,2.96,NaN,NaN,NaN,NaN,174.0,10.9,3.0

次に、条件2に合致するデータのみを抽出してみましょう。

まず、条件1の時と同様に、*query* メソッドを使用します。  
以下のように記述して、'sex'列がfのみのデータを抽出します。

```
df_cond2_v1 = df.query('sex=="f"')
```

なお、`'sex=="f"'`という表現は少し間違いやすいので注意してください。
"f" はクォーテーションマークで囲う必要がありますが、その大枠をくくる条件もクォーテーションマークで囲わなくてはならず、その場合は、どちらかをダブル・クォーテーションマーク、どちらかをシングル・クォーテーションマークにます。

もしくは、こちらも先ほどと同様に、*query* メソッドを使用せず、以下のように記述する方法もあります。
```
df_cond2_v2 = df[df['sex']=='f']
```

いずれも同じ結果になります。

それでは、下のセルにコードを書いて、実行してください。

In [50]:
# queryメソッドを使用する場合
df_cond2_v1 = df.query('sex=="f"')
df_cond2_v1

,id,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
0,1,400,2,1.0,58.765229,f,1.0,1.0,1.0,1.0,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
1,2,4500,0,1.0,56.446270,f,0.0,1.0,1.0,0.0,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
3,4,1925,2,1.0,54.740589,f,0.0,1.0,1.0,0.5,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
4,5,1504,1,2.0,38.105407,f,0.0,1.0,1.0,0.0,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0
5,6,2503,2,2.0,66.258727,f,0.0,1.0,0.0,0.0,0.8,248.0,3.98,50.0,944.0,93.00,63.0,NaN,11.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,414,681,2,NaN,67.000684,f,NaN,NaN,NaN,0.0,1.2,NaN,2.96,NaN,NaN,NaN,NaN,174.0,10.9,3.0
414,415,1103,0,NaN,39.000684,f,NaN,NaN,NaN,0.0,0.9,NaN,3.83,NaN,NaN,NaN,NaN,180.0,11.2,4.0
415,416,1055,0,NaN,56.999316,f,NaN,NaN,NaN,0.0,1.6,NaN,3.42,NaN,NaN,NaN,NaN,143.0,9.9,3.0
416,417,691,0,NaN,58.001369,f,NaN,NaN,NaN,0.0,0.8,NaN,3.75,NaN,NaN,NaN,NaN,269.0,10.4,3.0
417,418,976,0,NaN,52.999316,f,NaN,NaN,NaN,0.0,0.7,NaN,3.29,NaN,NaN,NaN,NaN,350.0,10.6,4.0

In [51]:
# queryメソッドを使用しない場合
df_cond2_v2 = df[df['sex']=='f']
df_cond2_v2

,id,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
0,1,400,2,1.0,58.765229,f,1.0,1.0,1.0,1.0,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
1,2,4500,0,1.0,56.446270,f,0.0,1.0,1.0,0.0,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
3,4,1925,2,1.0,54.740589,f,0.0,1.0,1.0,0.5,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
4,5,1504,1,2.0,38.105407,f,0.0,1.0,1.0,0.0,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0
5,6,2503,2,2.0,66.258727,f,0.0,1.0,0.0,0.0,0.8,248.0,3.98,50.0,944.0,93.00,63.0,NaN,11.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,414,681,2,NaN,67.000684,f,NaN,NaN,NaN,0.0,1.2,NaN,2.96,NaN,NaN,NaN,NaN,174.0,10.9,3.0
414,415,1103,0,NaN,39.000684,f,NaN,NaN,NaN,0.0,0.9,NaN,3.83,NaN,NaN,NaN,NaN,180.0,11.2,4.0
415,416,1055,0,NaN,56.999316,f,NaN,NaN,NaN,0.0,1.6,NaN,3.42,NaN,NaN,NaN,NaN,143.0,9.9,3.0
416,417,691,0,NaN,58.001369,f,NaN,NaN,NaN,0.0,0.8,NaN,3.75,NaN,NaN,NaN,NaN,269.0,10.4,3.0
417,418,976,0,NaN,52.999316,f,NaN,NaN,NaN,0.0,0.7,NaN,3.29,NaN,NaN,NaN,NaN,350.0,10.6,4.0

そして、条件1、条件2に合致するデータのみを抽出しましょう。

これは条件式を "&" で繋げば問題ありません。
```
df_cond1and2_v1 = df.query('age>=60 & sex=="f')
```

もしくは

```
df_cond1and2_v2 = df[df['age']>=60 & df['sex']=='f']
```

それでは、下のセルにコードを書いて実行してください。

In [52]:
# queryメソッドを使用する場合
df_cond1and2_v1 = df.query('age>=60 & sex=="f"')
df_cond1and2_v1

,id,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
5,6,2503,2,2.0,66.258727,f,0.0,1.0,0.0,0.0,0.8,248.0,3.98,50.0,944.0,93.00,63.0,NaN,11.0,3.0
9,10,51,2,2.0,70.559890,f,1.0,0.0,1.0,1.0,12.6,200.0,2.74,140.0,918.0,147.25,143.0,302.0,11.5,4.0
14,15,3584,2,1.0,64.646133,f,0.0,0.0,0.0,0.0,0.8,231.0,3.87,173.0,9009.8,127.71,96.0,295.0,11.0,3.0
28,29,4509,0,2.0,63.876797,f,0.0,0.0,0.0,0.0,0.7,370.0,3.78,24.0,5833.0,73.53,86.0,390.0,10.6,2.0
36,37,223,2,1.0,61.727584,f,1.0,1.0,0.0,1.0,7.1,334.0,3.01,150.0,6931.2,180.60,118.0,102.0,12.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,398,1375,0,NaN,62.001369,f,NaN,NaN,NaN,0.0,7.3,NaN,3.49,NaN,NaN,NaN,NaN,189.0,10.9,4.0
400,401,935,2,NaN,68.999316,f,NaN,NaN,NaN,0.0,4.2,NaN,3.19,NaN,NaN,NaN,NaN,120.0,11.1,4.0
402,403,1141,0,NaN,66.001369,f,NaN,NaN,NaN,0.0,2.5,NaN,3.33,NaN,NaN,NaN,NaN,256.0,10.8,4.0
411,412,1097,0,NaN,67.000684,f,NaN,NaN,NaN,0.0,1.0,NaN,3.58,NaN,NaN,NaN,NaN,244.0,10.8,3.0
413,414,681,2,NaN,67.000684,f,NaN,NaN,NaN,0.0,1.2,NaN,2.96,NaN,NaN,NaN,NaN,174.0,10.9,3.0

In [53]:
# queryメソッドを使用しない場合
df_cond1and2_v2 = df[(df['age']>=60) & (df['sex']=='f')]
df_cond1and2_v2

,id,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
5,6,2503,2,2.0,66.258727,f,0.0,1.0,0.0,0.0,0.8,248.0,3.98,50.0,944.0,93.00,63.0,NaN,11.0,3.0
9,10,51,2,2.0,70.559890,f,1.0,0.0,1.0,1.0,12.6,200.0,2.74,140.0,918.0,147.25,143.0,302.0,11.5,4.0
14,15,3584,2,1.0,64.646133,f,0.0,0.0,0.0,0.0,0.8,231.0,3.87,173.0,9009.8,127.71,96.0,295.0,11.0,3.0
28,29,4509,0,2.0,63.876797,f,0.0,0.0,0.0,0.0,0.7,370.0,3.78,24.0,5833.0,73.53,86.0,390.0,10.6,2.0
36,37,223,2,1.0,61.727584,f,1.0,1.0,0.0,1.0,7.1,334.0,3.01,150.0,6931.2,180.60,118.0,102.0,12.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,398,1375,0,NaN,62.001369,f,NaN,NaN,NaN,0.0,7.3,NaN,3.49,NaN,NaN,NaN,NaN,189.0,10.9,4.0
400,401,935,2,NaN,68.999316,f,NaN,NaN,NaN,0.0,4.2,NaN,3.19,NaN,NaN,NaN,NaN,120.0,11.1,4.0
402,403,1141,0,NaN,66.001369,f,NaN,NaN,NaN,0.0,2.5,NaN,3.33,NaN,NaN,NaN,NaN,256.0,10.8,4.0
411,412,1097,0,NaN,67.000684,f,NaN,NaN,NaN,0.0,1.0,NaN,3.58,NaN,NaN,NaN,NaN,244.0,10.8,3.0
413,414,681,2,NaN,67.000684,f,NaN,NaN,NaN,0.0,1.2,NaN,2.96,NaN,NaN,NaN,NaN,174.0,10.9,3.0

queryメソッドを使用するかしないかは、まずは使いやすいと感じる方で良いでしょう。

***

<a id="section4"></a>
### 練習4: 上位・下位の一部を抽出する

次は、'age'の小さい人から10人を抽出してみましょう。それには、*nsmallest* メソッドを使います。  
以下のように記述します。

```
df_age_smallest_10 = df.nsmallsest(10, 'age')
```

他には、*sort_values* メソッドで順番を変更して、上から10行取得する以下の方法もあります。
```
df_age_smallest_10 = df.sort_values('age').head(10)
```

それでは、下のセルにコードを書いて、実行してください。

In [54]:
# nsmallestメソッドを使用する場合
df_age_smallest_10 = df.nsmallest(10, 'age')
df_age_smallest_10

,id,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
269,270,1568,0,1.0,26.277892,f,0.0,1.0,1.0,0.0,1.0,448.0,3.74,102.0,1128.0,71.00,117.0,228.0,10.2,3.0
97,98,3823,0,1.0,28.884326,f,0.0,0.0,0.0,0.0,1.0,239.0,3.77,77.0,1877.0,97.65,101.0,312.0,10.2,1.0
194,195,2330,0,1.0,29.555099,f,0.0,1.0,0.0,0.0,3.7,347.0,3.90,76.0,2544.0,221.65,90.0,129.0,11.5,4.0
172,173,2657,0,1.0,30.275154,f,0.0,1.0,1.0,0.0,3.0,236.0,3.42,76.0,1403.0,89.90,86.0,493.0,9.8,2.0
306,307,1149,0,2.0,30.573580,f,0.0,0.0,0.0,0.0,0.8,273.0,3.56,52.0,1282.0,130.00,59.0,344.0,10.5,2.0
147,148,1427,2,2.0,30.863792,f,0.0,1.0,0.0,0.0,7.2,1015.0,3.26,247.0,3836.0,198.40,280.0,330.0,9.8,3.0
295,296,1321,0,2.0,31.381246,f,0.0,0.0,0.0,0.0,0.8,328.0,3.31,62.0,1105.0,137.00,95.0,293.0,10.9,4.0
255,256,1701,0,1.0,31.444216,f,0.0,0.0,0.0,0.0,1.1,336.0,3.74,48.0,823.0,84.00,108.0,242.0,9.7,3.0
199,200,2318,0,2.0,32.232717,f,0.0,0.0,1.0,0.0,4.7,236.0,3.55,112.0,1391.0,137.95,114.0,332.0,9.9,3.0
71,72,4184,0,2.0,32.492813,f,0.0,0.0,0.0,0.0,0.5,320.0,3.54,51.0,1243.0,122.45,80.0,225.0,10.0,3.0

In [55]:
# sort_valuesメソッドを使用する場合
df_age_smallest_10 = df.sort_values('age').head(10)
df_age_smallest_10

,id,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
269,270,1568,0,1.0,26.277892,f,0.0,1.0,1.0,0.0,1.0,448.0,3.74,102.0,1128.0,71.00,117.0,228.0,10.2,3.0
97,98,3823,0,1.0,28.884326,f,0.0,0.0,0.0,0.0,1.0,239.0,3.77,77.0,1877.0,97.65,101.0,312.0,10.2,1.0
194,195,2330,0,1.0,29.555099,f,0.0,1.0,0.0,0.0,3.7,347.0,3.90,76.0,2544.0,221.65,90.0,129.0,11.5,4.0
172,173,2657,0,1.0,30.275154,f,0.0,1.0,1.0,0.0,3.0,236.0,3.42,76.0,1403.0,89.90,86.0,493.0,9.8,2.0
306,307,1149,0,2.0,30.573580,f,0.0,0.0,0.0,0.0,0.8,273.0,3.56,52.0,1282.0,130.00,59.0,344.0,10.5,2.0
147,148,1427,2,2.0,30.863792,f,0.0,1.0,0.0,0.0,7.2,1015.0,3.26,247.0,3836.0,198.40,280.0,330.0,9.8,3.0
295,296,1321,0,2.0,31.381246,f,0.0,0.0,0.0,0.0,0.8,328.0,3.31,62.0,1105.0,137.00,95.0,293.0,10.9,4.0
255,256,1701,0,1.0,31.444216,f,0.0,0.0,0.0,0.0,1.1,336.0,3.74,48.0,823.0,84.00,108.0,242.0,9.7,3.0
199,200,2318,0,2.0,32.232717,f,0.0,0.0,1.0,0.0,4.7,236.0,3.55,112.0,1391.0,137.95,114.0,332.0,9.9,3.0
71,72,4184,0,2.0,32.492813,f,0.0,0.0,0.0,0.0,0.5,320.0,3.54,51.0,1243.0,122.45,80.0,225.0,10.0,3.0

今度は、'age'の大きい人から10人を抽出してみましょう。それには、*nlargest* メソッドを使います。  
以下のように記述します。

```
df_age_largest_10 = df.nlargest(10, 'age')
```

他には、*sort_values* メソッドで順番を変更して、上から10行取得する方法もあります。  
前回と違って、降順にするために、引数`ascending=False`を渡していることに注意してください。

```
df_age_largest_10 = df.sort_values('age', ascending=False).head(10)
```

それでは、下のセルにコードを書いて、実行してください。

In [56]:
# nlargestメソッドを使用する場合
df_age_smallest_10 = df.nlargest(10, 'age')
df_age_smallest_10

,id,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
252,253,1765,0,1.0,78.439425,m,1.0,1.0,1.0,0.0,7.1,243.0,3.03,380.0,983.0,158.10,154.0,97.0,11.2,4.0
91,92,388,2,1.0,76.709103,f,1.0,0.0,0.0,1.0,1.4,206.0,3.13,36.0,1626.0,86.80,70.0,145.0,12.2,4.0
146,147,2995,0,1.0,75.011636,f,0.0,0.0,0.0,0.5,1.2,288.0,3.37,32.0,791.0,57.35,114.0,213.0,10.7,2.0
315,316,2071,2,NaN,75.000684,f,NaN,NaN,NaN,0.5,0.7,NaN,3.96,NaN,NaN,NaN,NaN,NaN,11.3,4.0
259,260,1656,0,2.0,74.524298,m,0.0,1.0,0.0,0.0,5.6,232.0,3.59,188.0,1120.0,98.00,128.0,248.0,10.9,4.0
206,207,2171,0,1.0,72.772074,f,0.0,0.0,0.0,0.5,0.6,NaN,3.33,14.0,733.0,85.25,NaN,259.0,10.1,4.0
96,97,611,2,2.0,71.893224,m,0.0,1.0,0.0,0.5,2.0,420.0,3.26,62.0,3196.0,77.50,91.0,344.0,11.4,3.0
266,267,179,2,1.0,70.907598,f,1.0,1.0,1.0,1.0,6.6,222.0,2.33,138.0,620.0,106.00,91.0,195.0,12.1,4.0
185,186,1576,2,1.0,70.836413,f,0.0,0.0,1.0,0.5,2.0,225.0,3.53,51.0,933.0,69.75,62.0,200.0,12.7,3.0
9,10,51,2,2.0,70.559890,f,1.0,0.0,1.0,1.0,12.6,200.0,2.74,140.0,918.0,147.25,143.0,302.0,11.5,4.0

In [57]:
# sort_valuesメソッドを使って、降順に並べ替える場合
df_age_largest_10 = df.sort_values('age', ascending=False).head(10)
df_age_largest_10

,id,time,status,trt,age,sex,ascites,hepato,spiders,edema,bili,chol,albumin,copper,alk.phos,ast,trig,platelet,protime,stage
252,253,1765,0,1.0,78.439425,m,1.0,1.0,1.0,0.0,7.1,243.0,3.03,380.0,983.0,158.10,154.0,97.0,11.2,4.0
91,92,388,2,1.0,76.709103,f,1.0,0.0,0.0,1.0,1.4,206.0,3.13,36.0,1626.0,86.80,70.0,145.0,12.2,4.0
146,147,2995,0,1.0,75.011636,f,0.0,0.0,0.0,0.5,1.2,288.0,3.37,32.0,791.0,57.35,114.0,213.0,10.7,2.0
315,316,2071,2,NaN,75.000684,f,NaN,NaN,NaN,0.5,0.7,NaN,3.96,NaN,NaN,NaN,NaN,NaN,11.3,4.0
259,260,1656,0,2.0,74.524298,m,0.0,1.0,0.0,0.0,5.6,232.0,3.59,188.0,1120.0,98.00,128.0,248.0,10.9,4.0
206,207,2171,0,1.0,72.772074,f,0.0,0.0,0.0,0.5,0.6,NaN,3.33,14.0,733.0,85.25,NaN,259.0,10.1,4.0
96,97,611,2,2.0,71.893224,m,0.0,1.0,0.0,0.5,2.0,420.0,3.26,62.0,3196.0,77.50,91.0,344.0,11.4,3.0
266,267,179,2,1.0,70.907598,f,1.0,1.0,1.0,1.0,6.6,222.0,2.33,138.0,620.0,106.00,91.0,195.0,12.1,4.0
185,186,1576,2,1.0,70.836413,f,0.0,0.0,1.0,0.5,2.0,225.0,3.53,51.0,933.0,69.75,62.0,200.0,12.7,3.0
9,10,51,2,2.0,70.559890,f,1.0,0.0,1.0,1.0,12.6,200.0,2.74,140.0,918.0,147.25,143.0,302.0,11.5,4.0

どのメソッドを使うかは、自分で使いやすいと感じた方でいいです。
覚えなくとも、使用するたびに検索するか、ChatGPTなどに聞くのもいいですね。

＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊

<a id="section6"></a>
## 課題: 部分抽出

survivalパッケージにあるpbcデータについて、治療1を受けた人(trt=1)の中で年齢が若い人10人を抽出して、'df_answer'に代入ましょう。
- ヒント: trtは1か2を取りますが、文字列ではなく数値です

## 回答チェック
以下のコードを実行して、同じような結果が出力されればクリアです。

In [71]:
import statsmodels.api as sm
import pandas as pd
dataset = sm.datasets.get_rdataset("pbc", "survival")

def check_answer(dataset, df_answer):
    df_correct = df[df['trt']==1].sort_values('age').head(10)
    # df_answerが存在するかチェック
    if 'df_answer' not in globals():
        print('課題の、"df_answer" が存在しません。変数名を確認してください。')
    elif df_answer is None:
        print('"df_answer" が定義されていません。')
    elif df_answer.equals(df_correct):
        print('正解です。')
    else:
        print('不正解です。')

check_answer(dataset, df_answer)

正解です。